// Variables

$color-main:      #E27D60;
$color-hover:     #E8A87C;
$color-black:     black;
$color-white:     white;
$color-bg:        #41B3A3;

$font-size:     100%;

$font-family-title:    'Georgia';
$font-family-text:     'Arial';
